// font-family
$izanagi-font-family: sans-serif, Roboto, "Helvetica Neue";

// font-size
$izanagi-font-size-default: 14px;

// line-height
$izanagi-line-height: 130%;

// color
$izanagi-color-text: #333;

// margin
$iz-margin: 8px;