// Breakpoints

$tablet: 768px;
$desktop: 1024px;

@mixin from($device) {
	@media screen and (min-width: $device) {
		@content;
	}
}

@mixin until($device) {
	@media screen and (max-width: $device - 1px) {
		@content;
	}
}

@mixin between($device-min, $device-max) {
	@media screen and (min-width: $device-min) and (max-width: $device-max - 1px) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $tablet) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: $tablet) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: $desktop) {
		@content;
	}
}

@keyframes spinAround {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(359deg);}
}

@mixin loader {
	content: "";
	position: relative;
	display: block;
	width: 1rem;
	height: 1rem;
	animation: spinAround 500ms infinite linear;
	border: 2px solid $border;
	border-radius: 290486px;
	border-right-color: transparent;
	border-top-color: transparent;
}